@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background: linear-gradient(270deg, #020617, #000724, #1e0037, #020617); /* Define the gradient colors */
    background-size: 400% 400%; /* Increase the background size for smooth movement */
    animation: gradientMove 10s ease infinite; /* Add animation with infinite loop */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@layer components {
    .image {
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        height: 100%;/* Ensures it scales with its container */
    }
    
    /* For the font-family */
    .kalnia {
        font-family: "Kalnia", serif;
        
        
    }
    
    
    /* Responsive text for desktop and mobile */
    h1.kalnia {
        font-size: 6vw; /* Viewport width for scaling */
        line-height: 1.2;
       
    }
    
    /* Responsive text for paragraph */
    p {
        font-size: 1.2vw;
    }
    
    
    @media (max-width: 640px) {
        h1.kalnia {
            font-size: 10vw; 
        }
    
        p {
            font-size: 3vw; 
        }
        
        .image {
            height: auto; 
            width: 80%; 
        }
    }
    
    .text-stroke {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        }
    .perspective{
        perspective: 2200px;
       }
    }
   
